<div class="wrapper">
    <div id="formContent">

        <h3>Sign up</h3>
        <form>
            <input type="text" id="name" placeholder="Full name" autocomplete="off">

            <input type="text" id="email" placeholder="Email address" autocomplete="off">
            <input type="text" id="password" placeholder="Password" autocomplete="off">
            <input type="submit" class=" fourth" value="Signup"> 
        </form>
        <div id="formFooter">

            <a class="underlineHover" routerLink="/login">Already have an account? Login</a>
        </div>
    </div>
</div>