
<section>
<div class="HOME">
<button mat-raised-button  color="warn">HOME</button>
</div>


<div class="About">
<button mat-raised-button color="warn">About</button>
</div>

<div class="Contact">
<button mat-raised-button color="warn">Contact Us</button>
</div>

<div class="logo">
<p>Hello Doctor </p>

</div>


<div class="myappointment">
<nav>
<button mat-raised-button routerLink='myappoint' color="warn" matBadge="3" matBadgePosition="before" matBadgeColor="accent">
    My Appointments
  </button>
</nav>
<router-outlet></router-outlet>
</div>

<div class="book">
<nav>
<button mat-raised-button routerLink='schedule' color="warn">My 
schedule</button>
</nav>
<router-outlet></router-outlet>
</div>

<div class="history">
<nav>
<button mat-raised-button routerLink='myhistory' color="warn">History</button>
</nav>
<router-outlet></router-outlet>
</div>







