
<section>
<div class="HOME">
<button mat-raised-button  color="warn">HOME</button>
</div>

<div class="About">
<button mat-raised-button color="warn">About</button>
</div>

<div class="Contact Us">
<button mat-raised-button color="warn">Contact Us</button>
</div>

<div class="Welcome">
<p>Welcome Patient 😊 </p>
</div>

<div class="information">
<p>Details </p>
</div>

<div class="myappionment">
<button mat-raised-button color="warn">My Appionment</button>
</div>

<div class="book">
<button mat-raised-button color="warn">Book Appionment</button>
</div>

<div class="history">
<button mat-raised-button color="warn">My History    </button>
</div>

<div class="square"></div>





