<nav class="navbar navbar-expand-lg fixed-top navbar-light bg-light"> &nbsp;
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        
      </ul>
      <ul class="navbar-nav my-2 my-lg-0">
        <li class="nav-item">
            <a class="nav-link mr-sm-2 active" href="#">Home </a>
        </li>
        <li class="nav-item">
            <a class="nav-link mr-sm-2 active" href="#">Login</a>
        </li>
        <li class="nav-item">
            <a class="nav-link mr-sm-2 active" href="#">Sign up</a>
        </li>    
        <li class="nav-item">
            <a class="nav-link mr-sm-2 active" href="#">About us</a>
        </li>
    </ul>
    </div>
  </nav>
