<div class="col-4">
  <div class="container-fluid card-ap">
    <div class="card" style="width: 18rem">
      <img
        src="https://cdn.pixabay.com/photo/2015/03/26/09/41/chain-690088__340.jpg"
        class="card-img-top"
        alt="..."
      />
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">
          Some quick example text to build on the card title and make up the
          bulk of the card's content.
        </p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
  </div>
</div>
