<div class="wrapper">

    <div id="formContent">
        <h3>Login</h3>

        <form>

            <input type="text" id="login" name="login" placeholder="Username" autocomplete="off">
            <input type="text" id="password" name="login" placeholder="Password" autocomplete="off">
            <input type="submit" class=" fourth" value="Log In"> <br>
            <a class="underlineHover" href="#">Forgot Password?</a>
        </form>
        <div id="formFooter">

            <a class="underlineHover" routerLink="/signup">New here? Sign up.</a>
        </div>
    </div>
</div>