<div class="wrapper">
    
    <div id="formContent">
        <h3>Login</h3>
        
        <form>
            <div class="form-input"> <i class="fa fa-envelope"></i> <input type="text" class="form-control" placeholder="Email address"> </div>
            <input type="text" id="login" name="login" placeholder="Username" autocomplete="off">
            <input type="text" id="password"  name="login" placeholder="Password" autocomplete="off">
            <input type="submit" class=" fourth" value="Log In"> <br>
            <a class="underlineHover" href="#">Forgot Password?</a>
        </form>
        <div id="formFooter">
          
           <a class="underlineHover" routerLink="/signup">New here? Sign up.</a>
        </div>
    </div>
</div>