<div class="col-4">
  <div class="container-fluid" style="margin: 5px">
    <div class="card" style="width: 18rem">
      <div class="card-body">
        <h5 class="card-title">Doctor's Name</h5>
        <h6 class="card-subtitle mb-2 text-muted">Specialization</h6>
        <p class="card-text">
          <span>Timings</span>
        </p>
        <div class="container-fluid">
          <div class="row">
            <!-- <div class="col-8 btn btn-primary">
              Pending
            </div> -->
            <div class="col-8 btn btn-success">Approved</div>
            <!-- <div class="col-2">
              <i
                class="fa fa-clock-o"
                style="font-size: 36px; color: blue"
              ></i>
            </div> -->
            <div class="col-2">
              <i
                class="fa fa-check-circle"
                style="font-size: 36px; color: green"
              ></i>
            </div>
            <div class="col-2">
              <button type="button">
                <i class="fa fa-trash-o" style="font-size: 24px"></i>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
