<div class="wrapper">
    <div id="formContent">
        <h3>Send us a message</h3>
        <form>

            <input type="name" placeholder="Full name" autocomplete="off">
            <input type="email" placeholder="Email address" autocomplete="off">
            <input type="number" placeholder="Phone number" autocomplete="off">
            <input type="text" height="48" placeholder="Message" autocomplete="off">
            <br> <br>
            <input type="submit" value="Submit">
        </form>
        <div id="formFooter">


        </div>
    </div>
</div>
