<div class="col-4">
  <div class="container-fluid card-ap">
    <div class="card" style="width: 18rem">
      <div class="card-body">
        <h5 class="card-title">Doctor's Name</h5>
        <h6 class="card-subtitle text-muted">Specialization</h6>
        <p class="card-text">
          Some quick example text to build on the card title and make up the
          bulk of the card's content.(About Doctor)
        </p>
        <label for="birthday">Select Date:</label>
        <input type="date" id="date" name="date" />
        <div style="height: 2px"></div>
        <label for="cars">Choose timings: &nbsp; </label>
        <select name="timing" id="timing">
          <option value="11:00 AM">11:00 AM</option>
          <option value="3:00 PM">3:00 PM</option>
          <option value="4:00 PM">5:00 PM</option>
        </select>
        <button href="#" class="btn btn-primary">Request Appointment</button>
      </div>
    </div>
  </div>
</div>
